body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a237e;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav {
    background-color: #fff; /* Adicionando a cor de fundo branca */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 30px 20px;
    text-decoration: none;
    color: #333;
    font-size: 20px; /* Defina o tamanho da fonte desejado, por exemplo, 16px */
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
}

.dropdown-menu li {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.arrow {
    font-size: 0.8em;
}
