

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f79ba;
    color: rgb(255, 255, 255)09, 44, 44;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



.loader-container {
    position: relative;
}

.loader {
    display: flex;
    font-size: 2rem;
    color: white;
    position: relative;
}

span {
    animation: blur 4s infinite;
  margin:0.7rem;
}

@keyframes blur {
    0% {
        filter: blur(0);
    }
    25% {
        filter: blur(1px);
    }
    50% {
        filter: blur(5px);
    }
    75% {
        filter: blur(1px);
    }
    100% {
        filter: blur(0);
    }
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.4s;
}

.loader span:nth-child(3) {
    animation-delay: 0.8s;
}

.loader span:nth-child(4) {
    animation-delay: 1s;
}

.loader span:nth-child(5) {
    animation-delay: 1.4s;
}

.loader span:nth-child(6) {
    animation-delay: 1.8s;
}
.loader span:nth-child(7) {
    animation-delay: 2.0s;
}
.loader span:nth-child(8) {
    animation-delay: 2.2s;
}
.loader span:nth-child(9) {
    animation-delay: 2.4s;
}
.loader span:nth-child(10) {
    animation-delay: 2.6s;
}
.loader span:nth-child(11) {
    animation-delay: 2.8s;
}
.loader span:nth-child(12) {
    animation-delay: 3.0s;
}
.loader span:nth-child(13) {
    animation-delay: 3.2s;
}
.loader span:nth-child(14) {
    animation-delay: 3.4s;
}
.loader span:nth-child(15) {
    animation-delay: 3.6s;
}
.loader span:nth-child(16) {
    animation-delay: 3.8s;
}
.loader span:nth-child(17) {
    animation-delay: 4.0s;
}
.loader span:nth-child(18) {
    animation-delay: 4.2s;
}
.loader span:nth-child(19) {
    animation-delay: 4.4s;
}
.loader span:nth-child(20) {
    animation-delay: 4.6s;
}
.loader span:nth-child(21) {
    animation-delay: 4.8s;
}
.loader span:nth-child(22) {
    animation-delay: 5.0s;
}
.loader span:nth-child(23) {
    animation-delay: 5.2s;
}
.loader span:nth-child(24) {
    animation-delay: 5.4s;
}

#artext {
background: linear-gradient(to left,
#ffffff, #0015ff, #ffffff);
background-clip: text;
display: inline;
color: transparent;
animation: animated 5s linear infinite;

}
@keyframes animated{
    to {background-position-x: 161px;}
}

.search-bar {
    display: flex;
    align-items: center;
    
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav {
    background-color: #fff; /* Adicionando a cor de fundo branca */
}

nav ul {
    list-style: none;
    padding: 10;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #000000;
    font-size: 18px; /* Defina o tamanho da fonte desejado, por exemplo, 16px */
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #000000;
}

.dropdown-menu li {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.arrow {
    font-size: 0em;
}
.main-text {
    text-align: center;    
    margin-top: 50px; /* Ajuste conforme necessário para posicionar o texto na página */
    padding: 20px;
    background-color: rgb(255, 255, 255); /* Fundo branco com transparência */
    border-radius: 10px; /* Borda arredondada */
    max-width: 800px; /* Defina a largura máxima do texto para evitar que ele se estenda demais na página */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar o texto */
    color: #1a237e; /* Cor do texto */
}

.main-text p {
    margin: 0; /* Remover margem padrão do parágrafo */
    line-height: 1.5; /* Espaçamento entre linhas */
}

.main-text strong {
    font-weight: bold; /* Deixa o texto em negrito */
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espaçamento entre o texto e as imagens */
}

.image-container img {
    width: 400px; /* Largura das imagens */
    margin: 0 10px; /* Espaçamento horizontal entre as imagens */
}
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;

}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;

}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
    
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid  #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;

}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
    
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
    
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
    
}




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
.container {
    position: relative;
    text-align: center;
  }
  
  branco {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #41dbf7;
    color: #ff0180;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2em;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
}

.box h2 {
    color: #ff0180;
    font-size: 1.5em;
    line-height: 1.6;

}

.box p {
    color: #333;
    font-size: 1em;
}

@media (max-width: 768px) {
    .box {
        flex: 1 1 100%;
    }
}
